<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="spider_crab">

  <xacro:arg name="use_ros2_control" default="false"/>
  <xacro:arg name="sim_mode" default="true"/>

  <xacro:include filename="crab_core.xacro"/>

  <xacro:if value="$(arg use_ros2_control)">
    <xacro:include filename="crab_ros2_control.xacro"/>
  </xacro:if>


</robot>