<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <ros2_control name="GazeboSystem" type = "system">
        <xacro:if value="${arg use_sim_time}">
            <hardware>
                <!--Receive msg from controller-->
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>
        </xacro:if>
        <!-- If not using Gazebo, use Dynamixel hardware plugin -->
        <xacro:unless value="${arg use_sim_time}">
            <hardware>
                <plugin>dynamixel_hardware/DynamixelHardware</plugin>
                <!--plugin>silver_dynamixel_hardware/SilverDynamixelHardware</plugin-->
                <param name="usb_port">/dev/ttyUSB0</param>
                <param name="baud_rate">1000000</param>
            </hardware>
        </xacro:unless>

        <xacro:leg_control suffix="F1"/>
        <xacro:leg_control suffix="F2"/>
        <xacro:leg_control suffix="L1"/>
        <xacro:leg_control suffix="L2"/>
        <xacro:leg_control suffix="L3"/>
        <xacro:leg_control suffix="L4"/>
        <xacro:leg_control suffix="R1"/>
        <xacro:leg_control suffix="R2"/>
        <xacro:leg_control suffix="R3"/>
        <xacro:leg_control suffix="R4"/>
    </ros2_control>


</robot>